* {
  font-weight: bolder;
}

body {
  background: white;
  color: black;
  /* background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(124, 131, 94, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    ); */
  /* padding: 200px 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark-mode {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.dark-mode a {
  color: yellow;
}

.new-bookmark-box {
  /* background-color: darksalmon; */
  /* max-width: 50%; */
  align-items: right;
  flex-direction: row;
  display: flex;
  /* border: 2px solid red; */
  padding: 15px;
}

/*#new-bookmark-form {
  display: flex;
  flex-direction: row;
  align-items: right;
}*/

.new-bookmark-box label {
  padding: 5px 5px 5px 15px;
}

/*.new-bookmark-box button {
  align-self: center;
  color: black;
  padding-right: 150px;
}*/

#darkmodeButton {
  color: black;
  position: absolute;
  right: 30px;
  top: 20px;
}

.menu {
  flex-direction: row;
  align-items: right;
}

.menu a {
  padding-right: 5px;
}

#homeTitle {
  align-self: center;
}

#bookmarks-search {
  background-color: rgba(85, 90, 87, 0.3);
  max-width: 75%;
  align-self: center;
  padding: 10px 20px; 
}

#bookmarks-list {
  background-color: rgba(226, 143, 192, 0.3);
  max-width: 75%;
  width: 700px;
  height: 100px;
  align-self: center;
  text-align: center;
  display: block;
}

/*#statusAdd {
  background-color: rgba(226, 143, 192, 0.3);
  max-width: 75%;
  width: 700px;
  height: 100px;
  align-self: center;
  text-align: center;
  display: block;
}*/

