body {
  /* max-width: 50%; */
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginBox {
  max-width: 50%;
  justify-content: center;
  flex-direction: row;
  display: flex;
  border: 2px solid red;
}
